* {
  --light-color: #ffffff;
  --dark-color: #000000;
  /* background: var(--dark-color);
  color: var(--light-color); */
  padding: 5px;
}

/* * body {
  
} */

/* 
header {
  display: block;
  height: 60px;
  padding: var(--content-padding);
}

* {
  position: relative;
  background-color: rgb(70, 81, 85);
} */
